Questions 
1. Average of 3 numbers in one line 
2. Take a name as input and print --> Hello <name>, welcome to python 
3. Square and Cube - Take a number as input - Number: <n>, square: <n2>, Cube:<n3>
4. Take a gae as input and print - You will be <age+1> years old nect year
5. Take a salary as input and print salaary after 10% hike 
6. Take a number and print - Number <n> is Even 
7. Take marks and print 
    - Rules 
        - >= 75 - Grade A 
        - 60 -74 - Grade B
        - 35 - 59 Grade C 
        - < 32 - Fail 

8. Take a amount and print: 
    Final amount after discount: <value>
    Rule:
        - >= 5000 -> 20% discount 
        - >= 2000 -> 10% 
        - else - No discount

In [2]:
name="Pari"
age=10
print(name,age)

Pari 10

In [3]:
print("hello")
print("hi")

hello
hi

In [4]:
# Printing values and variable 
x=10
print(x)

10

In [37]:
#Print multiple things 
name="nilam"
age=10
print(f"my age is {name} and {age}")

# Why space in betweeen ?
# - Because print() uses a separator parameter call sep.
# sep=" "

my age is nilam and 10

In [18]:
a=1
b=2
c=3
print(1,2,3,0,20686, sep="#")
print(a,b,c, sep="-")

1#2#3#0#20686
1-2-3

In [19]:
print("2026","02","02", sep="/")

2026/02/02

In [23]:
print("hello", end=" $ ")
print("world")

hello $ world

In [26]:
# Priniting with formatting 
name="Priya"
age=10
city="pune"
print(f"My name is {name} and age is {age} and my city name is {city}")

My name is Priya and age is 10 and my city name is pune

In [ ]:
a=20
b=10
c=
print(f"Sum is {a+b}")

Sum is 30

In [89]:
a=10
print(f"Square {a}={a**2}")
# You can put 
# math 
# function cell 
# Conditional

Square 10=100

In [ ]:
pi=3.1415926 ###we using at last f for decimal values
print(f"Pi value {pi:.2f}")

Pi value 3.14

In [ ]:
x=5 ###suppose we need to add  0 infornt of our values.
print (f"{x:04}")

0005

In [51]:
print(True) #1
print(False)

True
False

In [54]:
name=input("Enter you name: ") # Prompt - The string you pass into input() is just a prompt message 
print(name)

nilam

In [56]:
age=int(input("Enter age: "))
print(age+1)

21

In [69]:
salaray=float(input("Enter your sala. : "))
#print(salaray*1.10) # 
print(f"sal is {(salaray*1.10):.1f}")

sal is 1100.0

In [70]:
x=input() #"10"
print(x+"5") #105

105

In [76]:
a,b=input("Enter a b ").split()
print(a,b)

1 2

In [79]:
# Add two numbers 
a= int(input("Enter a: "))
b= int(input("Enter b: "))
print(f"Sum = {a+b}")

ValueError: invalid literal for int() with base 10: '1 2'

In [ ]:
a,b,c = map(int, input("Enter a b c ").split())
print(f"avg {(a+b+c)/3}")